* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header */
header {
    background-color: black;
    height: 60px;
}

header div {
    display: inline-block;
}

header a {
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 5px 5px;
    border-radius: 5px;
    float: right;
    font-size: 12px;
    margin-top: 5px;
}

.margin_left {
    margin-left: 5px;
}

/* main */
main {
    background-color: black;
    width: 100%;
    height: calc(100vh - 130px);
    padding-left: 50px;
    padding-right: 50px;
}

.container_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - 140px);
    overflow: auto;
}

.profile {
    width: 200px;
    height: auto;
    margin-right: 5px;
    position: relative;
    margin-bottom: 10px;
}

.name {
    color: white;
    position: absolute;
    bottom: 4px;
    left: 0;
    background-color: rgb(128,128,128,0.7);
}

.profile img {
    width: 100%;
}

/* footer */
.container_footer {
    display: flex;
    justify-content: space-between;
    background-color: 	#303030;
    height: 70px;
    padding: 12px;
}

.button {
    text-align: center;
    display: flex;
    align-items: center;
}

.button a {
    text-decoration: none;
    color: white;
}

.button i {
    font-size: 25px;
}

.button_text {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

#angle_up {
    font-size: 15px;
    color: white;
}

.margin_right {
    margin-right: 15px;
}

#green_button {
    color: green;
}

.end_meeting {
    background-color: gray;
    width: 100px;
}

.end_meeting a {
    text-decoration: none;
    color: red;
    font-size: 13px;
}